body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

.veggie a {
    color: #2B6D7D;
  }

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 4px solid #48B5CF;
    background-color: #007A78;
    text-decoration-color: black;
}

footer {
    padding-left:24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #007A78;
    font-size: 150%;
}

a, u {
    text-decoration: none;
}

nav a {
    color: #FFC745;
  }

.ingrediants {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px;
    font-weight: lighter;
    .bold {font-weight: bolder; font-size: larger;}
  }

  .instructions {
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: auto;
    font-weight: lighter;
    .bold {font-weight: bolder; font-size: larger;}
  }

.rating {
    padding-top: 25px;
    padding-bottom: 25px;
}
